body {
    background-color: #ffa974;
    color: #ff3757;
}

header {
    background-color: #ff715a;
    color: #ffde74;
}

footer {
    background-color: #ffa974;
}

a:link {
    color: #ff3757;
}

a:visited {
    color: #ffde74;
}

a:hover {
    color: rgb(184, 232, 141);
}

.insect-card {
    background-color: #ffa974;
    padding: 10px;
}

#insect-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}